<!DOCTYPE html>

<html lang="en">

<head>
    <title>BRA database</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body>

    <div class="container">
        <h2 class="main-title">Bulletins des Risques d'Avalanche</h2>
        <p>{{ page_header | safe }}</p>

        <ul class="nav nav-tabs" id="tabulations">
            <li class="active"><a data-toggle="tab" href="#home">Derniers BRA</a></li>
            <li><a data-toggle="tab" href="#carte">Carte des risques</a></li>
            <li><a data-toggle="tab" href="#bulletins">Historique des Bulletins</a></li>
            <li><a data-toggle="tab" href="#evolution">Evolution par massif</a></li>
            <li><a data-toggle="tab" href="#about">A propos</a></li>
        </ul>

        <div class="tab-content">

            <!-- Tab 1: applet -->
            <div id="home" class="tab-pane fade in active">
                <div class="select-massif-div">
                    <form class="select-massif-form" method="POST" action="{{ url_for('index') }}">
                        <select name="selected_massif" class="select-massif-dropdown">
                            {% for massif in massifs %}
                                {% if massif == BRA_selected_massif %}
                                    <option value="{{ massif }}" selected>{{ massif }}</option>
                                {% else %}
                                    <option value="{{ massif }}">{{ massif }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="submit" class="select-massif-button">Go</button>
                    </form>
                </div>
                <div id="table-bra">
                    <table>
                        <thead>
                            <tr>
                                <th>Clef</th>
                                <th>Valeur</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, value in BRA_data.items() %}
                            <tr>
                                <td class="table-key">{{ key | safe }}</td>
                                <td class="table-value">{{ value | safe }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <!-- Tab 2: carte -->
            <div id="carte" class="tab-pane fade">
                {{ carte_risque_massifs | safe }}
            </div>

            <!-- Tab 3: bulletins -->
            <div id="bulletins" class="tab-pane fade">
                </br>TBD
            </div>

            <!-- Tab 4: evolution -->
            <div id="evolution" class="tab-pane fade">
                </br>TBD
            </div>

            <!-- Tab 5: about -->
            <div id="about" class="tab-pane fade">
                </br>TBD
            </div>

        </div>
    </div>
</body>

</html>
